.button {
  min-width: 128px;
  padding: 0.7em;
  text-transform: uppercase;
  border: solid 1px white;
  border-radius: 0.5em;
  text-align: center;
  letter-spacing: 1.8px;
  cursor: pointer;
  box-sizing: border-box;
  justify-content: center;
}

.results .button {
  min-width: 220px;
  color: #101a3f;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .rules .button {
    position: fixed;
    right: 2em;
    bottom: 2em;
  }
  .rules .button:hover {
    color: #101a3f;
    background-color: #ffffff;
  }
}
