.token {
  width: 125px;
  height: 125px;
  box-sizing: border-box;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}
.token.rock {
  border: solid 16px var(--rock);
  box-shadow: 0px 5px 0px var(--rockShadow);
  grid-column: span 2;
}
.token.paper {
  border: solid 16px var(--paper);
  box-shadow: 0px 5px 0px var(--paperShadow);
}
.token.scissors {
  border: solid 16px var(--scissors);
  box-shadow: 0px 5px 0px var(--scissorsShadow);
}
.token.default {
  border: solid 8px transparent;
  box-shadow: 0px 5px 0px transparent;
  background-color: transparent;
  filter: blur(2.5px);
  /* width: 105px;
  height: 105px; */
}
.token.default .token-box {
  box-shadow: 0px -4px 0px transparent;
  background-color: #122343;
}
.token:active {
  transform: scale(0.9);
}
.token-box {
  background-color: white;
  box-shadow: 0px -4px 0px #babfd4;
  flex: 1;
  border-radius: 50%;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
}
.token-box img {
  height: auto;
}

.house-choice .token-box {
  animation: spin 3s linear;
}
.house-choice p,
.player-choice p {
  text-align: center;
  font-size: 0.9em;
  font-weight: 700;
  padding-top: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
