.App {
  color: var(--fontColor);
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: var(--bodyColor);
  background-image: linear-gradient(180deg, var(--radial1), var(--radial2) 60%);
}

.app-content {
  min-height: 100vh;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  text-transform: uppercase;
  font-size: 1.2em;
  line-height: 0.9em;
}
p {
  margin: 0;
}

@media (screen) and (min-width: 768px) {
  .App {
    padding: 3em 0;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
