.App {
  color: var(--fontColor);
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: var(--bodyColor);
  background-image: linear-gradient(180deg, var(--radial2), var(--radial1) 60%);
}

.app-content {
  min-height: 100vh;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  text-transform: uppercase;
  font-size: 1.2em;
  line-height: 0.9em;
}
p {
  margin: 0;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 36px;
    line-height: 0.9em;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes shadow {
  to {
    box-shadow: 0 0 0 40px rgba(255, 255, 255, 0.04),
      0 0 0 80px rgba(255, 255, 255, 0.04),
      0 0 0 120px rgba(255, 255, 255, 0.02);
    transform: scale(1.1);
  }
}
@keyframes rotazione {
  to {
    transform: rotateY(360deg);
  }
}
